<p id="notice"><%= notice %></p>

<p>
  <strong>Artist name:</strong>
  <%= @artist.artist_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @artist.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @artist.state %>
</p>

<p>
  <strong>Address:</strong>
  <%= @artist.address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @artist.zip_code %>
</p>

<p>
  <strong>Category:</strong>
  <%= @artist.category %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
